@import '_bootstrap';
@import 'fontawesome/font-awesome';
@import 'github'; // Code Style
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic|PT+Sans+Narrow:400,700);

$base: #f1f1f1;
$copy: #333333;
$title: #005c6d;
$highlight: #aa0336;

$padding-xs: 0.25em;
$padding-sm: 0.5em;
$padding-md: 1em;
$padding-lg: 2em;
$padding-xl: 2.5em;

body {
	font: 16px/1.5 'Cabin', helvetica, sans-serif;
  background-color: $base;
  color: $copy;
}

a {
	color: $highlight;
	text-decoration: none;
	&:hover {
		color: $highlight;
		text-decoration: underline;
	}
}

img {
	max-height: 100%;
	max-width: 100%;
}

h1, h2, h3, h4, h4 {
	font-family: 'PT Sans Narrow';
	font-weight: bold;
	color: $title;
	margin-top: 0;
}

header {
	padding-top: $padding-md;
	.icon-bar {
		background: $highlight;
	}
	.navbar-brand {
		height: 120px;
	}
	.navbar-nav {
		padding-top: $padding-lg;
	}
	.nav > li > a:hover, .nav > li > a:focus {
		background: none;
		text-decoration: underline;
	}
}

@media (max-width: 992px) {
	header {
		.navbar-brand {
				height: 90px;
			}
			.navbar-nav {
				padding-top: $padding-md;
			}
	}
}

.dl-horizontal {
  dt {
    width: 80px;
  }
  dd {
    margin-left: 100px;
  }
}

code {
  font-size: 85%;
  color: #DA4369;
  background-color: #E8D4D4;
  border-radius: 4px;
  padding: 0;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;

}

#github{
	z-index: 5;
}

#main {
	z-index: 1;
}

.navbar-static-top {
  z-index: 1;
}

.panel {
	background: none;
	border-radius: 0;
	padding: $padding-lg 0;
	margin-bottom: 0;
	border-bottom: 2px solid #e1e1e1;
  &:first-child {
  	padding-top: $padding-md;
  }
	.panel-heading {
		padding: 0;
  }
	.panel-body {
		padding: 0;
	}
}

.article-teaser {
  border-radius: 1em;
  margin-bottom: $padding-md;

  .title {
    font-size: 1.25em;
  }
}

.build-info {
}

#new-github-issue {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -webkit-appearance: none;
  text-decoration: none;
  box-sizing: border-box;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  border-radius: 4px;
  margin-left: -9px;
  transform: scale(0.8,0.8);
}

#sidebar {
	#stick.affix {
		top: 20px;
		max-width: 292px;
	}

  .maintainer {
    margin: 2em 1em;

    img {
      width: 70px;
      border: 1px solid black;
      border-radius: 0.5em;
    }
  }
}

.blog-post {
  .panel-body {
    h3 {
      margin-top: .7em;
      margin-bottom: .7em;
    }

    h4 {
      margin-top: .8em;
      margin-bottom: .5em;
    }
  }
}

.gitter-open-chat-button {
  bottom: auto;
  top: 0;
  border-radius: 0 0 0.5em 0.5em;
  right: 235px;

  &.is-collapsed {
    transform: translateY(-120%);
  }
}

