@import '_bootstrap';

$color0: #2A4F6E;
$color1: #718DA5;
$color2: #496C89;
$color3: #123552;
$color4: #042037;
$default-padding: 0.5em;
$default-border: 1px solid $color3;

body {
  background-color: $color1;
  color: $color3;
}

#main {
  min-width: 900px;
}

#sidebar {
  text-align: center;
}

.jumbotron {
  background: transparent;
  color: $color4;
}

.panel {
  border: $default-border;
  border-radius: 1em;

  .panel-heading {
    border-bottom: $default-border;
    padding-bottom: $default-padding;
  }
}

.article-teaser {
  border-radius: 1em;

  .title {
    font-size: 1.25em;
    padding-bottom: $default-padding;
  }
}

.build-info {
  padding-bottom: $default-padding;
}
