---
title:  5.0.0 Final!
date: 2015-06-26 14:42:16 UTC
poster: Brian Underwood
summary: Neo4j.rb 5.0.0 final has been released!
tags: releases, news
---

#content.col-xs-8
  .panel.blog-post
    .panel-heading
      h2 #{current_article.title}
    .panel-body
      markdown:
        We missed updating this blog but we're still very excited to announce version 5.0.0 of the neo4j and neo4j-core gems.  In fact we're up to 5.0.1 already!  Set your `Gemfiles` to `">~ 5.0.0"` for the latest!

        We've been working hard to maintain good CHANGELOG habits according to [keepachangelog.com](http://keepachangelog.com) so you can check out the CHANGELOGS for [neo4j](https://github.com/neo4jrb/neo4j/blob/master/CHANGELOG.md#501---2015-06-23) and [neo4j-core](https://github.com/neo4jrb/neo4j-core/blob/master/CHANGELOG.md#501---2015-06-23) for the latest.  To summarize the big points:

         * Eager loading!
         * Lots of speed improvements (thanks to [Chris](github.com/subvertallchris))!
         * ActiveNode associations now require a relationship type (via `type`, `origin`, or `rel_class`)
         * Associations and query chain objects now show a simpler, cleaner object in the console (including the query which will be executed)
         * Neo4j rake tasks now show more complete output and fail when an exit code is non-zero
         * Lots of code refactoring (via `rubocop`) and other improvements!

         There are other exciting (if technical) notes in the `CHANGELOG`s.  Check them out and try the gems!

         See our [README](https://github.com/neo4jrb/neo4j/) for the best ways to get help!

    small
      | Posted #{current_article.date.strftime("%Y/%m/%d")} by #{current_page.data.poster}<br />
      - unless current_article.tags.empty?
        | Tagged with #{current_article.tags.map { |tag| link_to tag, "/blog/tags/#{tag.tr(' ', '-')}.html"}.join(', ')}

.col-sm-1
